name: Data Validation

on:
  pull_request:
    paths:
      - .github/workflows/validation.yml
      - scripts/requirements-val.txt
      - scripts/validation.py
      - src/**
      - configure.ac
      - Makefile.am

concurrency: 
  group: validation-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  validation:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    
    env:
      AUSTIN_TESTS_PYTHON_VERSIONS: ${{ matrix.python-version }}

    name: Data validation with Python ${{ matrix.python-version }}
    steps:
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}-dev

      - name: Install Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Check out the base branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          path: austin-base

      - name: Check out the PR branch
        uses: actions/checkout@v3
        with:
          path: austin

      - name: Compile Austin on the base branch
        run: |
          cd austin-base
          autoreconf --install
          ./configure
          make
          cd -

      - name: Compile Austin on the PR branch
        run: |
          cd austin
          autoreconf --install
          ./configure
          make
          cd -

      - name: Install runtime dependencies
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r austin/scripts/requirements-val.txt
          deactivate

      - name: Run data validation
        run: |
          ulimit -c unlimited
          echo "core.%p" | sudo tee /proc/sys/kernel/core_pattern

          mv austin-base/src/austin austin/src/austin-base

          source .venv/bin/activate
          cd austin
          python scripts/validation.py --ignore-errors --report results-${{ matrix.python-version }}.txt
          cd -
          deactivate

      - name: List collected samples
        run: ls austin/*.mojo
        if: always()

      - name: Upload profiles
        uses: actions/upload-artifact@v4
        with:
          name: data-validation-profiles-${{ matrix.python-version }}
          path: "austin/*.mojo"
          overwrite: true
        if: always()

      - name: Upload data validation results
        uses: actions/upload-artifact@v4
        with:
          name: data-validation-results-${{ matrix.python-version }}
          path: "austin/results*.txt"
          overwrite: true
        if: always()

  validation-report:
    runs-on: ubuntu-24.04

    needs: validation
    if: always()

    name: Data validation report

    steps:
      - uses: actions/checkout@v3

      - name: Download data validation results
        uses: actions/download-artifact@v4
        with:
          pattern: data-validation-results-*
          merge-multiple: true
          path: .

      - name: Generate validation report
        run: |
          # Concatenate all the results*.txt files with the header
          echo "## Austin Data Validation" > validation.txt
          echo "" >> validation.txt
          for file in $(ls results*.txt | sort -V); do
            cat $file >> validation.txt
            echo "" >> validation.txt
          done

      - name: Post results on PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: validation
          path: validation.txt
